/* body css */ 
body{ 
       background-color: #8E53F0;
    } 
    /* main container */ 
    .main_container{
        width: 80%; 
        margin: auto; 
        display: flex; 
    } 
     
     
     
     
     
    /* left part */ 
     
     
     
     
     
    .left_part{ 
        width: 50%; 
        margin: 2%; 
    } 
    .logo{ 
       margin-bottom: 50px; 
    } 
    /* time_seletion  */ 
    .time_seletion{ 
        background-color: white; 
        border-radius: 10px; 
        padding: 20px; 
    } 
    /* content  */ 
    .content{ 
        display: flex; 
    } 
    /* content_image */ 
    .content_image{ 
        width: 25px; 
        height: 25px; 
    } 
    /* content_text */ 
    .content_text{ 
        font-size: 20px; 
        margin-left: 4%; 
        color: #3D087B; 
    } 
    /* content_dropdown */ 
    .content_dropdown{ 
        margin-left: auto; 
        margin-right: 0%; 
     
    } 
    /*  */ 
    .time_selector{ 
        width: 250px; 
        height: 35px; 
        color: #3D087B; 
    } 
    /* blank_area */ 
    .blank_area{ 
        border-left: 1px solid gray; 
        height: 35px; 
        margin-left: 2%; 
        margin-top: 0%; 
    } 
    /* left Part Message according to time */ 
    .left_part_messagebox{ 
        width: 100%; 
        min-height: 70px; 
        color: white; 
        font-size: 35px; 
        font-weight: bolder; 
        background-color: #71409c; 
        border-radius: 8px; 
    } 
    .message_text{ 
        margin-left: 4%; 
        margin-top: 20px; 
        margin-bottom: 20px; 
        padding-top: 15px; 
        padding-bottom: 15px; 
    } 
    /* Set Alarm  */ 
    .set_alarm_area{ 
        display: flex; 
    } 
    .set_alarm{ 
        width: 50%; 
        margin: 2%; 
        margin-left: 0%; 
    } 
    .alarm_button{ 
        width: 100%; 
        min-height: 50px; 
        color: white; 
        font-size: xx-large; 
        border: 0px; 
        border-radius: 5px; 
        background-image: linear-gradient(to :right,#6E54EC,#CB52F8,#FC5EFE); 

    #6E54EC,#CB52F8,#FC5EFF
    } 
    .alarm_time{ 
        width: 50%; 
        background-color: #71409c; 
        border-radius: 8px; 
    } 
    .set_time{ 
        color: #F25CFE; 
        margin-left: 6%; 
    } 
     
     
     
     
    /*  Right Part  */ 
     
     
     
     
    .right_part{ 
       width: 50%; 
    } 
    /* current time */ 
    .current_time{ 
        width: 100%; 
        min-height: 100px; 
        background-color: white; 
        margin-top: 50px; 
        border-radius: 10px; 
     
    } 
    .time_area{ 
        display: flex; 
        width: 80%; 
        margin: auto; 
    } 
    .time_text{ 
        color: #3D087B; 
        font-size: 20px; 
        padding-top: 36px; 
        padding-bottom: 40xp; 
     
    } 
    .time_box{ 
        height: 80px; 
        width: 80px; 
        background-color: #F6E2FF; 
        font-size: 25px; 
        text-align: center; 
        margin: 10px; 
        color: #5F0089; 
    } 
    .time_box>span{ 
        font-size: 40px; 
        color: #8A11BF; 
    } 
    .seperator{ 
        font-size: 40px; 
        padding-top: 20px; 
        color: #8A11BF; 
    } 
    .am_pm{ 
        background-image: linear-gradient(to bottom right, #8E53F0,#B85EBF,#F25CFE ); 
        color: white; 
        height: 64px; 
        width: 80px; 
        font-size: 40px; 
        margin: 10px; 
        text-align: center; 
        padding-top: 16px; 
    } 
    /* below_box_one*/ 
    .below_box_one{ 
        width: 80%; 
        height: 100px; 
        margin: auto; 
        border-radius: 10px; 
        z-index: -1; 
        position: relative; 
        top: -10%; 
        bottom: 0%; 
        background-color: rgba(255, 255, 255, 0.673); 
    } 
    /* below_box_two========= */ 
    .below_box_two{ 
        width: 60%; 
        height: 100px; 
        margin: auto; 
        border-radius: 10px; 
        z-index: -2; 
        position: relative; 
        top: -20%; 
        bottom: 0%; 
        background-color: rgba(255, 255, 255, 0.349); 
    } 
     
    /* right Part Message according to time */ 
    .right_part_messagebox{ 
        width: 100%; 
        min-height: 100px; 
        background-color: white; 
        border-radius: 10px; 
        margin-top: -150px; 
        margin-bottom: 10px; 
    } 
    .message_text_left{ 
        text-align: center; 
        font-size: 25px; 
        font-weight: 900; 
        text-transform: uppercase; 
        color: #8E53F0; 
        padding-top: 35px; 
    } 
    .left_image_part{ 
        width: 100%; 
        height: auto; 
    }